#nav {
    position: sticky;
    top: 10px;
    width: 96%;
    background-color: #18188f;
    border-radius: 20px;
    margin: 0 auto;
    z-index: 1000;
}

#nav ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0;
    margin: 0;
    list-style: none;
}

#nav li {
    margin: 0 10px;
}

#nav .r {
    margin-left: auto;
}

#nav li a {
    text-decoration: none;
    color: white;
    padding: 0 20px;
    font-size: 20px;
    font-weight: 400;
    font-family: "Nunito Sans", sans-serif;
    line-height: 1;
}

#nav li a:hover,
#nav li a.active {
    color: gray;
    text-decoration: underline;
}